<div>
  <uofx-form-field-name [name]="name" [required]="required">
  </uofx-form-field-name>
</div>

<ng-container *ngIf="isLoading else templateForm;">
  <ng-container *ngTemplateOutlet="templateLoading"></ng-container>
</ng-container>
{{form.value | json}}
<ng-template #templateForm>
  <div class="fw-control">
    <ng-container *ngIf="editable else templateDisable;">
      <ng-container *ngTemplateOutlet="templateEditable"></ng-container>
    </ng-container>
  </div>
</ng-template>



<!-- 載入中 -->
<ng-template #templateLoading>
  <div class="padding-left">
    <p-skeleton class="padding" width="50%" height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton class="padding" width="100%" height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton class="padding" width="70%" height="2rem" styleClass="mb-2"></p-skeleton>
  </div>
</ng-template>

<!--可編輯-->
<ng-template #templateEditable>
  <div [formGroup]="form" >
    <div class="row">

      <div class="col-3">
        假別
      </div>
      <div class="col-9">
        <p-dropdown
          [options]="levTypeList"
          formControlName="leaveType"
          optionLabel="name"
          optionValue="id"
          [showClear]="true" (onChange)="onSelectLeaveType($event)"
          [style]="{'width':'100%'}"
        placeholder="請選擇假別"
        ></p-dropdown>
        <uofx-form-error-tip [control]="form?.controls.leaveType">
        </uofx-form-error-tip>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        開始時間
      </div>
      <div class="col-9">
        <p-calendar
          formControlName="startTime"
          [showIcon]="true"
          [showButtonBar]="true"
          [showTime]="true" dataType="string"
          [readonlyInput]="true"
          dateFormat="yy/mm/dd" hourFormat="24" appendTo="body"
          [style]="{'width':'100%'}"
          placeholder="請選擇開始時間"
        ></p-calendar>
        <uofx-form-error-tip [control]="form?.controls.startTime">
        </uofx-form-error-tip>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        結束時間
      </div>
      <div class="col-9">
        <p-calendar
          formControlName="endTime"
          [showIcon]="true"
          [showButtonBar]="true"
          [showTime]="true" dataType="string"
          [readonlyInput]="true"
          dateFormat="yy/mm/dd" hourFormat="24" appendTo="body"
          [style]="{'width':'100%'}"
          placeholder="請選擇結束時間"
        ></p-calendar>
        <uofx-form-error-tip [control]="form?.controls.endTime">
        </uofx-form-error-tip>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        請假時數
      </div>
      <div class="col-9">
        <p-inputNumber [max]="999" [min]="0" [minFractionDigits]="0" [maxFractionDigits]="1"
        mode="decimal"
        formControlName="leaveHours" [style]="{'width':'100%'}" placeholder="請輸入請假時數"
          ></p-inputNumber>
          時
        <uofx-form-error-tip [control]="form?.controls.leaveHours">
        </uofx-form-error-tip>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        代理人
      </div>
      <div class="col-9">
       <uofx-user-select     [corpId]="corpId"
       [types]="types"
       formControlName="agent"

       ></uofx-user-select>
        <uofx-form-error-tip [control]="form?.controls.agent">
        </uofx-form-error-tip>
      </div>
    </div>

    <div style="color: red;">
      {{errorMsg}}
    </div>

    <uofx-error-block
  [uofErrorI18nKeys]="transErrorCodes"
  [showClose]="true"
  [showHeader]="true"
  [textEllipsis]="true">
</uofx-error-block>
  </div>
</ng-template>


<!--不可編輯-->

<ng-template #templateDisable>
  <div [formGroup]="form" >
    <div class="row">

      <div class="col-3">
        假別
      </div>
      <div class="col-9">
     {{form.value?.leaveName}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        開始時間
      </div>
      <div class="col-9">
        {{form.value?.startTime}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        結束時間
      </div>
      <div class="col-9">
          {{form.value?.endTime}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        請假時數
      </div>
      <div class="col-9">
          {{form.value?.leaveHours}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        代理人
      </div>
      <div class="col-9">
            <uofx-user-select-view
 [userSet]="this.value.agent"
            ></uofx-user-select-view>
      </div>
    </div>
    <div style="color: red;">
      {{errorMsg}}
    </div>
  </div>
</ng-template>



